In [ ]:
import json
from QueryAnalyzing.AnalyzeAst import AnalyzeAst
from os.path import join

In [112]:
path = 'c:\\users\\basti\\Desktop\\ba\\tests\\nested_querys\\asts'
ana = AnalyzeAst()

defs = dict()
rels = dict()

def test(file):
    with open(join(path, file), 'r') as f:
        ast = f.read()
    name = file.split('.')[0]
    ana.set_ast(ast, name)
    ana.dissolve_query()

    print('relations:')
    ana.print_relations()

    print('\ntop-level projections:')
    ana.print_top_level_projections()

    print('\nbase tables:')
    print(ana.repr.B)

    print('\nH:')
    ana.print_H()

    ana.append_top_level_relations(defs)
    ana.append_join_expressions(rels)

In [113]:
test('q2.json')

relations:
no relations found

top-level projections:
(t1, a, a, None)

base tables:
{'.t1': 't1'}

H:


.t1.a | (t1, a, a, None) -> None

In [114]:
test('q3.json')

relations:
t1.a = t2.b

top-level projections:
(t1, a, a, None)
(t2, b, b, None)

base tables:
{'.t1': 't1', '.t2': 't2'}

H:


.t1.a | (t1, a, a, None) -> None
.t2.b | (t2, b, b, None) -> None

In [115]:
test('q4.json')

relations:
no relations found

top-level projections:
(b, a, a, None)

base tables:
{'.b': 't1'}

H:


.b.a | (b, a, a, None) -> None

In [116]:
test('q5.json')

relations:
t1.a = t2.b

top-level projections:
(t1, a, a, None)
(t, b, b, None)

base tables:
{'.t1': 't1', '.t.t2': 't2'}

H:


.t1.a | (t1, a, a, None) -> None
.t.b | (t, b, b, None) -> .t.t2.b

.t.t2.b | (t2, b, b, .t) -> None

In [117]:
test('q6.json')

relations:
t1.a = t2.b
t1.c = t2.d

top-level projections:
(t1, a, a, None)
(t2, b, b, None)

base tables:
{'.t1.t1': 't1', '.t2': 't2'}

H:


.t1.a | (t1, a, a, None) -> .t1.t1.a
.t2.b | (t2, b, b, None) -> None
.t1.c | (t1, c, c, None) -> .t1.t1.c
.t2.d | (t2, d, d, None) -> None

.t1.t1.a | (t1, a, a, .t1) -> None
.t1.t1.c | (t1, c, c, .t1) -> None

In [118]:
test('q7.json')

relations:
t8.id = t5.id

top-level projections:
(t1, a, a, None)
(t2, a, a, None)

base tables:
{'.t1.t7.t8': 't8', '.t2.t7.t5': 't5'}

H:


.t1.a | (t1, a, a, None) -> .t1.t7.a
.t2.a | (t2, a, a, None) -> .t2.t7.a
.t1.id | (t1, id, id, None) -> .t1.t7.id
.t2.id | (t2, id, id, None) -> .t2.t7.id

.t1.t7.a | (t7, a, a, .t1) -> .t1.t7.t8.a
.t1.t7.id | (t7, id, id, .t1) -> .t1.t7.t8.id
.t2.t7.id | (t7, id, id, .t2) -> .t2.t7.t5.id
.t2.t7.a | (t7, a, a, .t2) -> .t2.t7.t5.a

.t1.t7.t8.a | (t8, a, a, .t1.t7) -> None
.t1.t7.t8.id | (t8, id, id, .t1.t7) -> None
.t2.t7.t5.id | (t5, id, id, .t2.t7) -> None
.t2.t7.t5.a | (t5, a, a, .t2.t7) -> None

In [119]:
test('q8.json')

relations:
t1.a = t2.c

top-level projections:
(t1, a, a, None)
(t, c, c, None)

base tables:
{'.t1': 't1', '.t.t3': 't2'}

H:


.t1.a | (t1, a, a, None) -> None
.t.c | (t, c, c, None) -> .t.t3.c

.t.t3.b | (t3, b, b, .t) -> None
.t.t3.c | (t3, c, c, .t) -> None

In [120]:
test('q9.json')

relations:
t8.id = t9.id
t8.id = t5.id

top-level projections:
(t1, a, a, None)
(t2, a, a, None)

base tables:
{'.t1.t7.t8': 't8', '.t1.t11.t9': 't9', '.t2.t7.t5': 't5'}

H:


.t1.a | (t1, a, a, None) -> .t1.t7.a
.t2.a | (t2, a, a, None) -> .t2.t7.a
.t1.id | (t1, id, id, None) -> .t1.t7.id
.t2.id | (t2, id, id, None) -> .t2.t7.id

.t1.t7.a | (t7, a, a, .t1) -> .t1.t7.t8.a
.t1.t7.id | (t7, id, id, .t1) -> .t1.t7.t8.id
.t1.t11.id | (t11, id, id, .t1) -> .t1.t11.t9.id
.t2.t7.id | (t7, id, id, .t2) -> .t2.t7.t5.id
.t2.t7.a | (t7, a, a, .t2) -> .t2.t7.t5.a

.t1.t7.t8.a | (t8, a, a, .t1.t7) -> None
.t1.t7.t8.id | (t8, id, id, .t1.t7) -> None
.t1.t11.t9.a | (t9, a, a, .t1.t11) -> None
.t1.t11.t9.id | (t9, id, id, .t1.t11) -> None
.t2.t7.t5.id | (t5, id, id, .t2.t7) -> None
.t2.t7.t5.a | (t5, a, a, .t2.t7) -> None

In [121]:
test('q10.json')

relations:
t1.id = t2.id
t1.id = t3.id
t3.id = t4.id

top-level projections:
(t1, a, a, None)
(t2, b, b, None)
(t3, c, c, None)
(t4, d, d, None)

base tables:
{'.t1': 't1', '.t2': 't2', '.t3': 't3', '.t4': 't4'}

H:


.t1.a | (t1, a, a, None) -> None
.t2.b | (t2, b, b, None) -> None
.t3.c | (t3, c, c, None) -> None
.t4.d | (t4, d, d, None) -> None
.t1.id | (t1, id, id, None) -> None
.t2.id | (t2, id, id, None) -> None
.t3.id | (t3, id, id, None) -> None
.t4.id | (t4, id, id, None) -> None

In [122]:
jdefs = json.dumps(defs, indent=4)
with open('tests/nested_querys/results/defs.json', 'w') as f:
    f.write(jdefs)

jrels = json.dumps(rels, indent=4)
with open('tests/nested_querys/results/rels.json', 'w') as f:
    f.write(jrels)